<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Name:</b>
  <%= @book.description %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', book_path %>

